<div class="container">

      <div class="starter-template">
        <h1>Mi Album</h1>
        <p class="lead">Documento Imagenes.<br> Texto de la pagina.</p>
      </div>

    </div><!-- /.container -->